* {
	margin: 0px;
	padding: 0px;
}
#header {
	width: 110%;
	height: 80px;
	background: #2998E4;
	margin-left: -50px;
	position: fixed;
	box-shadow: 0px 3px 6px gray;
}
#logo {
	width: 200px;
	height: 80px;
	float: left;
}
#navbar {
	width: 1000px;
	height: 80px;
	float: right;
}
#navbar >li {
	width: 180px;
	list-style: none;
	float: left;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
li>a {
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	text-decoration: none;
}
li>a:hover,
     focus {
	background: red;
	color: white;
}
#bottomdiv {
	width: 110%;
	height: 400px;
	background: black;
	padding-left: -30px;
	box-shadow: 2px 4px 3px 2px;
}
.botlinks {
	color: white;
}
.paro {
	color: white;
	padding-top: 150px;
	padding-left: 30px;
}
h4 {
	color: white;
}
.pa {
	color: white;
}
.crispy {
	display: none;
}
.soft {
	display: none;
}
.mucha {
	display: none;
}
.big {
	display: none;
}
.bueno {
	display: none;
}
.bob {
	display: none;
}
.bean {
	display: none;
}
.beef {
	display: none;
}
.combo {
	display: none;
}
.potato {
	display: none;
}
.beefdilla {
	display: none;
}
.chicken {
	display: none;
}
.cheese {
	display: none;
	box-shadow: 2px 4px 3px 2px;
}
.turn {
  font-weight: bolder;
	padding-left: 200px;
}
.text {
	color: red;
}
.pp {
	padding-left:200px;
}
#img14 {
	padding-top:250px;
	width: 455px;
}
.buttons {
	padding-left: 250px;
	word-spacing: 50px;
}
#button1:hover {
	background-color: white;
	border: 2px solid red;
	color: red;
}
#button2 {
	border-radius: 10px;
}
.input {
	color: black;
}
.reserve {
	color: rgba(191, 183, 76, 0.62);
	padding-top: 100px;
}
#select2 {
	padding-top: 39px;
}
#select3 {
	padding-top: 39px;
}
.star {
	color: red;
}
#con {
	text-align: center;
	font-weight: bolder;
}
.details {
	color: red;
}
#form2 {
	padding-left: 300px;
}
#selct {
	width: 700px;
	height: 40px;
	border-radius: 3px;
}
.inp {
	height: 40px;
	border-radius: 2px;
}
#rad1 {
	word-spacing: 20px;
}
#rad2 {
	word-spacing: 20px;
}
.btn {
	background-color: red;
	color: white;
}
.prg {
	padding-top: 200px;
	text-align: center;
}
.comp {
	text-align: center;
	font-weight: bolder;
}
#tcstore {
	padding-left: 50px;
	padding-top: 20px;
}
#gurant {
	padding-left: 550px;
}
#view {
	color: red ! important;
	text-align: center;
}
.members {
	text-align: center;
}
#view2 {
	color: red;
	text-align: center;
}
#view3 {
	color: red;
	text-align: center;
}
#view4 {
	color: red;
	text-align: center;
}
#more1 {
	display: none;
	padding-left: 400px;
}
.bot {
	color: white;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: black;
	display: none;
}
.bot:hover {
	background-color: white;
	color: black;

}
#more2 {
	display: none;
	padding-left: 400px;
}
#more3 {
	display: none;
	padding-left: 400px;
}
#more4 {
	display: none;
	padding-left: 400px;
}
#fund {
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}
#rais {
	padding-left: 160px;
	padding-top: 160px;
}
.col-md-1 {
	padding-top: 20px;
}
.well {
	background-color: white;
}
.phone {
	font-weight: bold;
}
.email {
	text-decoration: underline;
	font-weight: bold;
	color: black ! important;
}
.email:hover {
	color: red ! important;
}
#subm {
	color: white;
	background-color: red;
	height: 45px;
	width: 270px;
	border: 2px red solid;
	border-radius: 5px;
	margin-top: 20px;
}
#subm:hover {
	background-color: white;
	color: black;
}
.request {
	text-align:center;
	width:350px;
	margin-left:450px;
	margin-top:30px;
	height: 270px;
}
.online {
	text-decoration: underline;
	color: black ! important;
}
.online:hover {
	color: red ! important;
}
