* {
	margin: 0px;
	padding: 0px;
}
#header {
	width: 110%;
	height: 80px;
	background: #2998E4;
	margin-left: -50px;
	box-shadow: 0px 3px 6px gray;
}
#logo {
	width: 200px;
	height: 80px;
	float: left;
}
#navbar {
	width: 1000px;
	height: 80px;
	float: right;
}
#navbar >li {
	width: 180px;
	list-style: none;
	float: left;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
li>a {
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	text-decoration: none;
}
li>a:hover,
     focus {
	background: red;
	color: white;
}
#bottomdiv {
	width: 110%;
	height: 430px;
	background: black;
	padding-left: -30px;
	box-shadow: 2px 4px 3px gray;
}
.botlinks {
	color: white;
}
.paro {
	color: white;
	padding-top: 150px;
	padding-left: 30px;
}
h4 {
	color: white;
}
.pa {
	color: white;
}
.crispy {
	display: none;
}
.soft {
	display: none;
}
.mucha {
	display: none;
}
.big {
	display: none;
}
.bueno {
	display: none;
}
.bob {
	display: none;
}
.bean {
	display: none;
}
.beef {
	display: none;
}
.combo {
	display: none;
}
.potato {
	display: none;
}
.beefdilla {
	display: none;
}
.chicken {
	display: none;
}
.cheese {
	display: none;
	box-shadow: 2px 4px 3px gray;
}
.turn {
  font-weight: bolder;
	padding-left: 200px;
}
.text {
	color: red;
}
.pp {
	padding-left:200px;
}
#img14 {
	padding-top:250px;
	width: 455px;
}
.buttons {
	padding-left: 250px;
	word-spacing: 50px;
}
#button1:hover {
	background-color: white;
	border: 2px solid red;
	color: red;
}
#button2 {
	border-radius: 10px;
}
.input {
	color: black;
}
.reserve {
	color: rgba(191, 183, 76, 0.62);
	padding-top: 100px;
}
#select2 {
	margin-top: 39px;
}
#select3 {
	margin-top: 39px;
}
.star {
	color: red;
}
#con {
	text-align: center;
	font-weight: bolder;
}
.details {
	color: red;
}
#form2 {
	padding-left: 300px;
}
#selct {
	width: 68%;
	height: 40px;
	border-radius: 3px;
}
.inp {
	height: 40px;
	border-radius: 2px;
}
#rad1 {
	word-spacing: 20px;
}
#rad2 {
	word-spacing: 20px;
}
.btn {
	background-color: red;
	color: white;
	border: 2px solid red;
}
.btn:hover {
	background-color: white;
	color: black;
}
.prg {
	padding-top: 200px;
	text-align: center;
}
.comp {
	text-align: center;
	font-weight: bolder;
}
#tcstore {
	padding-left: 50px;
	padding-top: 20px;
}
#gurant {
	padding-left: 550px;
}
#view {

	text-align: center;
	font-weight: bolder;
}
.members {
	text-align: center;
}
#view2 {
	color: red;
	text-align: center;
	font-weight: bolder;

}
#view3 {
	color: red;
	text-align: center;
	font-weight: bolder;

}
#view4 {
	color: red;
	text-align: center;
	font-weight: bolder;

}
#more1 {
	display: none;
	padding-left: 400px;
}
.bot {
	color: white;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: black;
	display: none;
}
.bot:hover {
	background-color: white;
	color: black;

}
#more2 {
	display: none;
	padding-left: 400px;
}
#more3 {
	display: none;
	padding-left: 400px;
}
#more4 {
	display: none;
	padding-left: 400px;
}
#fund {
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
}
#rais {
	padding-left: 160px;
	padding-top: 160px;
}
.col-md-1 {
	padding-top: 20px;
}
.well {
	background-color: white;
	box-shadow: 0px 3px 6px gray;
}
.phone {
	font-weight: bold;
}
.email {
	text-decoration: underline;
	font-weight: bold;
	color: black ! important;
}
.email:hover {
	color: red ! important;
}
#subm {
	color: white;
	background-color: red;
	height: 45px;
	width: 270px;
	border: 2px red solid;
	border-radius: 5px;
	margin-top: 20px;
}
#subm:hover {
	background-color: white;
	color: black;
}
.request {
	text-align:center;
	width:350px;
	margin-left:450px;
	margin-top:30px;
	height: 270px;
}
.online {
	text-decoration: underline;
	color: black ! important;
}
.online:hover {
	color: red ! important;
}
.vmore {
	color: red;
}
#funds {
	display: none;
}
.form-control {
	width: 500px;
}
.form-group {
	margin-left: 300px;
}
.control {
	width: 410px;
	height: 40px;
	border-radius: 3px;
}
.form-g {
	margin-left: 300px;
}
#clear {
	width: 90px;
	height: 40px;
	background-color: rgb(235, 219, 19);
	color: black;
	border: 2px solid rgb(238, 209, 14);
	border-radius: 3px;
}
#clear:hover {
	background-color: white;

}
#sbtn {
	width: 90px;
	height: 40px;
	background-color: red;
	color: white;
	border: 2px solid red;
	border-radius: 3px;
}
#sbtn:hover {
	background-color: white;
	color: black;

}
#time {
	height: 40px;
	border-radius: 4px;
	width: 80px;
	margin-left: 300px;
}
#fsubmit {
	margin-left: 300px;
	width: 90px;
	height: 40px;
	background-color: red;
	color: white;
	border: 2px solid red;
	border-radius: 4px;
}
#fsubmit:hover {
	background-color: white;
	color: black;
}
#tarea {
	border-radius: 5px;
}
.mybtn {
	width: 300px;
	height: 40px;
	margin-left: 15px;
	border: 2px solid red;
	background-color: red;
	color: white;
	border-radius: 5px;
}
.mybtn:hover {
	background-color: white;
	color: black;
}
.myp {
	text-align: center;
}
#joinus {
	margin-left: 300px;
}
.myinput {
	width: 700px;
	height: 40px;
	border-radius: 3px;
	background-color: rgba(#d7d9d2, 0.14);
}
.myselect {
	width: 150px;
	height: 40px;
	border-radius: 5px;
}
.myiput {
	width: 600px;
	height: 40px;
}
.post {
	width: 100px;
	height: 40px;
	background-color: yellow;
	border: 2px solid yellow;
	border-radius: 3px;
}
.post:hover {
	background-color: white;
}
.now {
	color: white;
	background-color: red;
	width: 100px;
	height: 40px;
	border: 2px solid red;
	border-radius: 5px;
}
.now:hover {
	background-color: white;
	color: black;
}
.farm {
	font-weight: bolder;
}
.article1 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article1:hover,
          focus{
	border: 4px solid yellow;
	background-color: white;
}

.article2 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article3 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article4 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}

.article5 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article6 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article7 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article8 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article9 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article10 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article11 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}
.article12 {
	color: red;
	font-weight: bold;
	margin-left: 135px;
}

.artn {
	font-weight: bolder;
}
.mnews {
	text-align: center;
}
.mnews2 {
	text-align: center;
}

#morenews {
	width: 150px;
	height: 50px;
	background-color: red;
	color: white;
	border: 2px solid red;
	border-radius: 3px;
}
#morenews:hover,
          focus {
	background-color: white;
	color: black;
}
#morenews2 {
	width: 150px;
	height: 50px;
	background-color: red;
	color: white;
	border: 2px solid red;
	border-radius: 3px;
}
#morenews2:hover,
          focus {
	background-color: white;
	color: black;
}

#morecon {
	display: none;
	height: 550px;
}
#morecon2 {
	display: none;
	height: 550px;
}
#vall {
	width: 150px;
	height: 50px;
	background-color: black;
	color: white;
	border: 2px solid black;
	border-radius: 3px;
	display: none;
}
#vall:hover,
      focus{
	background-color: white;
	color: black;
}

#conn1 {
	display: none;
	height: 850px;
	padding-top: 150px;
}
#conn2 {
	display: none;
	height: 850px;
	padding-top: 150px;
}

.bbtn {
	padding-top: 200px;
}
.mydate {
	margin-left: 600px;
	background-color: rgb(232, 236, 19);
	width: 130px;
	border-radius: 4px;
	text-align: center;
}
.myart {
	margin-left: 150px;
	margin-top: 50px;
}
.tex {
	font-weight: bolder;
	font-size: 30px;
}
.arrow {
	color: red;
	font-weight: bolder;
}
.nxt {
	color: gray;
  margin-left: 1250px;
}
.php1 {
	display: none;
}
#tac {
	padding-top: 110px;
	padding-left: 500px;
}
.tacc {
	font-weight: bolder;
	text-align: center;
}

.bu {
	text-align: center;
	font-size: 17px;
	padding-top: 20px;
}
.taco {
	font-weight: bolder;
}
.places {
	color: blue;
}
.pl {
	color: blue;
}
.jumbotron {
	box-shadow: 0px 0px 8px gray;
}
#balance {
	display: none;
	height: 500px;
	margin-top: 150px;
	margin-left: 300px;
}
.number {
	width: 700px;
	height: 50px;
	border-radius: 10px;
}
#button {
	height: 50px;
	width: 200px;
	background-color: red;
	border: 2px solid red;
	color: white;
	border-radius: 5px;
}
#button:hover,
        focus{
background-color: white;
color: black;
}
